.Product__Card {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 200px;
}

.Product__Card__admin_links {
  margin-top: 4px;
}

