<div>
  <h3>Order: <%= @order.id %></h3>
  <div>
    <h4>Order Items</h4>
    <ul>
      <% @order.order_items.each do |item| %>
        <li>
          <%= item.product.name %>
          <%= number_to_currency(item.product.price) %>
          <%= render 'qty_incrementor', item: item %>
        </li>
      <% end %>
    </ul>
  </div>
</div>