<div data-controller="home">
  <button data-action="home#toggleUserList">Toggle Users</button>
  <%= render "user_list" %>
</div>
<%# <% if admin_signed_in? || @active_user %1> %>
<%#   <p> %>
<%#     <%= link_to "View Products", store_products_path(@store) %1> %>
<%#   </p> %>
<%# <% end %1> %>

<%= render "stores/store_featured_cards", stores: @stores %>

<%#<%= render "pages/sign_in_links" %>
